body{ 
	padding-top:30px; 
}
form {
    padding: 2px;
    float: left;
    margin-top: 10px;
}

.image    { 
	padding-bottom:20px; 
	float: left;
	padding: 3px;
	max-width: 200px;
}
.stick-b {
	position: fixed;
	bottom: 0px;
	width: 100%;
	display: none;
}
.frame {
    width: 220px;
    min-height: 260px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
}
.stick-a {
	position: fixed;
	top: 0px;
	width: 400px;
	padding: 20px;
}
.stick-a a {
	font-size: 16px;
}