body{ 
	background-color: #f3f4f8;
}
form {
    padding: 2px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}
.image {
    padding-bottom: 4px;
    width: 300px;
    background-size: cover;
    height: 180px;
}
.stick-b {
	position: fixed;
	bottom: 0px;
	width: 100%;
	display: none;
}
.frame {
    width: 303px;
    height: 250px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
}
.stick-a {
    position: fixed;
    top: 0px;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
}
.stick-a a {
	font-size: 16px;
}
.right{
	float: right;
}
.title{
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.page-header {
    background-color: #fff;
    padding: 20px;
    margin: 0;
}
.ng-view{
	padding: 20px;
}